:root {
  --color-primary: #0052c9;
  --color-primary-alpha: #3a78d4;
  --color-white: #fff;
  --color-dark: #333;
  --color-yellow: #e9e917;
  --color-disabled: #a1a1a1;
  --color-backdrop: rgba(0, 0, 0, 0.2);

  --border-rounded: 6px;
}

html, body {
  height: 100%;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  font-weight: 400; 
}

* {
  box-sizing: border-box;
}

@media (min-width: 1280px) {
  .cursor-pointer {
    cursor: pointer;
  }
}
