.video-call {
  position: relative;
  height: 100vh;
  background-color: var(--color-primary);
}

.video-call__local {
  position: absolute;
  top: 1rem;
  left: 1rem;
  max-width: 30%;
  background-color: white;
  padding: 0.25rem;
  border-radius: var(--border-rounded);
  line-height: 0;
  z-index: 1;
}

.video-call__local-video,
.video-call__remote,
.video-call__remote-video {
  width: 100%;
  height: 100%;
}

.video-call__remote {
  position: absolute;
}

.video-call__stop-recording {
  margin-left: 0.5rem;
}

.video-call__buttons {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100px;
}

.video-call__button {
  width: 48px;
  height: 48px;
  background-color: var(--color-primary-alpha);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .video-call__button--invisible {
  visibility: hidden;
} */

.video-call__icon {
  width: 24px;
  height: 24px;
  fill: var(--color-white);
}

.video-call__icon--hangup {
  width: 56px;
  height: 56px;
}

.video-call__icon--share-screen {
  width: 20px;
  height: 20px;
}