.dashboard {
  background-color: var(--color-primary);
  color: var(--color-white);
  height: 100vh;
  padding: 1rem;
  box-sizing: border-box;
}

.dashboard__logo {
  text-align: center;
  font-size: 48px;
}

.dashboard__highlight {
  font-weight: 400;
  color: var(--color-yellow);
}

.dashboard__video-container {
  min-height: 150px;
  margin-top: 2rem;
}

.dashboard__video {
  display: block;
  max-width: 150px;
  min-height: 185px;
  margin: 0 auto;
  padding: 0.25rem;
  background-color: white;
  border-radius: var(--border-rounded);
  line-height: 0;
}

@media screen and (min-width: 768px) {
  .dashboard__video {
    min-height: 114.5px;
  }
}

.dashboard__howto {
  margin-top: 2rem;
  font-size: 14px;
}

.dashboard__personal {
  margin-top: 0.75rem;
  padding: 1rem;
  background-color: var(--color-primary-alpha);
  border-radius: var(--border-rounded);
}

.dashboard__your-code-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.dashboard__your-code {
  width: 100%;
  font-weight: bold;
}

.dashboard__copy-icon {
  width: 24px;
  height: 24px;
  margin-left: 0.5rem;
  fill: var(--color-white);
}

.dashboard__friend {
  margin-top: 2rem;
}

.dashboard__friend-code {
  display: block;
  width: 100%;
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  background-color: var(--color-primary-alpha);
  color: var(--color-white);
  border: none;
  border-radius: var(--border-rounded);
  outline: none;
}

.dashboard__buttons {
  text-align: center;
}

.dashboard__video-call {
  display: inline-flex;
  align-items: center;
  margin: 1rem auto;
  padding: 0.5rem 1rem;
  font-weight: bold;
  background-color: transparent;
  color: var(--color-white);
  border: 1px solid  var(--color-primary-alpha);
  border-radius: var(--border-rounded);
  transition: all 0.4s ease-in-out;
}

.dashboard__video-call:hover {
  background-color: var(--color-white);
  color: var(--color-dark);
}

.dashboard__video-call--disabled {
  cursor: not-allowed;
  background-color: transparent !important;
  color: var(--color-disabled) !important;
}

.dashboard__video-call-icon {
  display: block;
  width: 24px;
  height: 24px;
  margin-right: 0.5rem;
  fill: currentColor;
}