.modals {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-backdrop);
}

.modals__container {
  max-width: 300px;
  background-color: var(--color-white);
  border-radius: var(--border-rounded);
}